html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


