
body {
    text-align: center;
}

p {
    color: #8f8f8f;
}

/* Headings */

.heading {
    font-size: 4.5rem;
}
/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ffa332;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-color {
    color: #fff;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
    background-color: #000031;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
    width: 40%;
    transform: rotate(12deg);
    position: absolute;
    right: 10%;
}

/* Features Section */

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #ffa332;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #00b9e2;
}

/* Testimonial Section */

#testimonials {
    background-color: #00b9e2;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}

.testimonial-image {
    width: 60%;
    border-radius: 2%;
    margin: 20px;
}


#press {
    background-color: #00b9e2;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}
.card-header {
    font-size: 3rem;
}
.card-body {
    font-size: 1.2rem;
}
/* CTA Section */


/* Footer Section */


.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}
